
<form  class="form-horizontal">
	<div class="col-md-6">
		<label class="label-control">Date:</label> 
		<input class="form-control" type="text" name="name" ng-model="x.date" />
		<br /> 
		<label>Article Name:</label> 
		<input class="form-control" type="text" name="email" ng-model="x.articleName" /> 
		<br /> 
		<label>Posted By:</label> 
		<input  class="form-control" type="text" name="phone" ng-model="x.postedBy" /> <br /> 
		<input type="hidden" ng-model="x.id" /> 
		<input class="btn btn-primary" type="button" value="Save" ng-click="saveContact()" />
		<br />
	</div>	
</form>


