<div class="col-md-6" ng-show="editing">
<div class="list-group well" >
  <form class="form-horizontal" role="form">
    <div class="modal-body">
      <div>
        <label>Date:</label>
        <input class="form-control col-sm-8" type="text" id="lg" placeholder="Date..." ng-model="editing.date" />
        <br><br />
        <label>Article Name:</label>
        <input class="form-control col-sm-8" type="text" id="lg" placeholder="Name of the article..." ng-model="editing.articleName"/>
        <br><br />
        <label>Posted By:</label>
        <input class="form-control" type="text" id="lg" placeholder="Author name..." ng-model="editing.postedBy" />
        <br><br />
        <label>Message:</label>
        <textarea class="form-control" rows="10" cols="55" placeholder="Enter text ..." ng-model="editing.message"></textarea>
        <br><br />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ui-sref="home">Cancel</button>
      <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </form>
</div>
</div>

<div class="col-md-6" ng-show="editing">
<div class="panel panel-default">
  <div class="panel-heading">Website:</div>
  <div class="panel-body">
   <a href="http://www.epsilon.com/">http://www.epsilon.com/</a>
  </div>
</div>
</div>

<div class="col-md-6" ng-show="editing">
<div class="panel panel-default">
  <div class="panel-heading">Date:</div>
  <div class="panel-body">
   <a href="http://www.epsilon.com/">http://www.epsilon.com/</a>
  </div>
</div>
</div>

<div class="col-md-6" ng-show="editing">
<div class="panel panel-default">
  <div class="panel-heading">Tags:</div>
  <div class="panel-body">
   <a href="http://www.epsilon.com/">Tags here...</a>
  </div>
</div>
</div>

<div class="col-md-6" ng-show="editing">
<div class="panel panel-default">
  <div class="panel-heading">Categories:</div>
  <div class="panel-body">
   <a href="http://www.epsilon.com/">Categories here...</a>
  </div>
</div>
</div>
